{
    email {$CADDY_ACME_EMAIL}
    admin off
}

# Appwrite
appwrite.{$DOMAIN} {
    reverse_proxy appwrite:80
}

# n8n
n8n.{$DOMAIN} {
    reverse_proxy n8n:5678
}

# Baserow
baserow.{$DOMAIN} {
    reverse_proxy baserow:80
}

# Qdrant
qdrant.{$DOMAIN} {
    reverse_proxy qdrant:6333
}

# Minio API
s3.{$DOMAIN} {
    reverse_proxy minio:9000
}

# Minio Console
minio.{$DOMAIN} {
    reverse_proxy minio:9001
}

# Keycloak
auth.{$DOMAIN} {
    reverse_proxy keycloak:8080
}
